html{
	height: 100%;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(45deg,#000,#029CA6);
	background-size: cover;
	background-repeat: no-repeat;

	
}
.card{
	width: 95%;
	margin-top: 20%;
	padding-top: 5%;
	padding-bottom: 0%;
	border-radius: 20px;
	background-color: #002224;
	color: #F4F4F4;
	border: 1px solid #72FAFF;
	box-shadow: 0px 0px 30px 0px cyan;
}
#image{
	border:2px solid #41D1D6;
	border-radius: 50%;
	padding: 5px;
}
.card-footer{
	background-color:#000B0C;
}

#last{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.skill{
	align-items: center;
	color: #025358;
}
.list-item{
	list-style: none;
	display: inline-block;
	border:1px solid #014448;
	padding: 2px 10px;
	margin: 5px 0px;
}
.list-item:hover{
	background-color: #008F97;
	color: #F4F4F4;
	transition: 0.7s;
}
.btn-cyan{
	background-color: #41D1D6;
}
.btn-cyan:hover{
	background-color: #72FAFF;
}

.btn-outline-cyan{
	border:1px solid #41D1D6 ;
	color: #F4F4F4;
}

.btn-outline-cyan:hover{
	background:#72FAFF;
	border:1px solid #41D1D6 ;
}

